language: python
dist: trusty
sudo: required
git:
  submodules: false

python:
- '3.5'

before_install:
- pip install -U pip
- pip install -r requirements.txt
- git submodule sync
- git submodule update --init --recursive

script: 
- make publish

# deploy to GitHub pages
deploy:
  provider: pages
  github_token: $GITHUB_TOKEN
  local_dir: output/
  target-branch: master
  skip_cleanup: true
  repo: christabone/christabone.github.io
  on:
    branch: master
